@import '../styles/custom-media.scss';
@import '../styles/custom-properties.css';

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @include --media-min-small {
    min-height: calc(100% - 88px - 150px);
  }
}

.content.dark{
  background: var(--color-black);
}

.footer {
  border-top: 1px solid var(--color-very-light-gray);

  & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 1350px;
  padding: 1em 1.5em 1.5em;
  margin: 0 auto;

  @include --media-min-small {
    padding: 2em;
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}

.weatherDescription{
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}